<h1 class="contact-register-page-title">
  知り合い情報登録
</h1>

<div class="contact-register-form col-11 col-md-7">
  <%= form_with model:@contact do |f| %>
  <div>
    <%= f.label :name,"名前", class:"label" %><br />
    <%= f.text_field :name, autofocus: true, placeholder:"はるちゃん", class:"contact-input-form" %>
  </div>


  <div>
    <%= f.label :birthday,"誕生日", class:"label" %><br />
    <%= f.date_field :birthday, class:"contact-input-form", value: Time.now.strftime("%Y-%m-%d")%>
  </div>

  <div>
    <%= f.label :like,"好きなもの", class:"label" %><br />
    <%= f.text_field :like, placeholder:"甘いもの", class:"contact-input-form" %>
  </div>

  <div>
    <%= f.label :not_like,"苦手なもの", class:"label" %><br />
    <%= f.text_field :not_like, placeholder:"辛いもの", class:"contact-input-form" %>
  </div>

  <div>
    <%= f.label :memo,"メモ", class:"label" %><br />
    <%= f.text_area :memo, placeholder:"前にお花をとても喜んでくれた" , class:"contact-input-textarea" %>
  </div>

  <div class="actions mt-5">
    <%= f.submit "登録する",class:"submit-button" %>
  </div>
<% end %>
</div>